{
  "presets": [
    "env",
    "stage-0",
    "react"
  ],
  "plugins": [
    ["css-modules-transform", {
      "generateScopedName": "react-giphy-select__[path][name]__[local]___[hash:base64:5]",
      "extractCss": "./lib/styles.css"
    }]
  ]
}
