.list {
  margin-left: 5px;
}

.listItem {
  margin-right: 5px;
  margin-bottom: 5px;
  width: 100px;
  background-color: #ccc;
  background-position: center;
  background-repeat: no-repeat;
}

.listButton {
  padding: 0;
  display: block;
  background: none;
  border: none;
  cursor: pointer;
}

.listButtonImage {
  display: block;
}
