.select {
  width: 320px;
}

.selectInput {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: .5em .75em;
  width: calc(100% - 10px);
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1em;
}
